.skills {
    margin:var(--spacing-3) 0;
  }
  .skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .interests {
    display: none;
    align-items: center;  
  }
  .interests i {
    margin:var(--spacing-1);
  }

  .stars-rating {
    font-size: 1.5rem;
    margin-top: -10px;
  }